
@{
    Layout = "_AccountLayout";
}
@model DoxFrame.Hub.Web.ViewModels.UserProfileViewModel

   
<div class="container-fluid">

    <div class="alert alert-dismissible fade show" role="alert" id="divSuccessShow" style="display:none">
        <p id="alertText"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="d-grid text-center py-5" style="grid-template-columns: 1fr 2fr;">
        <div class="border-end">
            <div class="px-5 py-5 lh-sm w-100" style="width:180px;">
                <img src="~/img/logo.png" alt="" width="72" height="57"> <h5 class="fw-normal">DoxFrame Hub</h5>
            </div>
            <h1>Let's set you up for application development environment</h1>
        </div>
        <div>
            <div class="pb-md-5 mb-0 small lh-sm w-100">
                <div class="d-flex justify-content-end">
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src=@User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value alt="hub user" width="32" height="32" class="rounded-circle">
                            @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <main class="account-form">

                <div class="mb-0 small lh-sm w-100">
                    <form id="account-create" class="row g-3 needs-validation" novalidate method="post">
                        <div class="form-floating">
                            <input type="email" class="form-control" value=@ViewBag.Email id="email" placeholder="" disabled required>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" placeholder="Profile Name" required>
                            <label for="floatingInput">Account  Name</label>
                            <div class="invalid-feedback">
                                Accout name can't be blank
                            </div>
                        </div>
                        <div class="form-floating">
                            <input type="tel" class="form-control" id="mobile" placeholder="Mobile" required>
                            <label for="floatingPassword">Mobile</label>
                            <div class="invalid-feedback">
                                Mobile can't be blank
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                Practitioner or Enabler ? &nbsp;<input type="checkbox" id="type" value="type">
                            </label>
                        </div>
                        <button class="w-50 btn btn-primary" type="submit">Next</button>
                    </form>
                </div>

            </main>

        </div>
    </div>
</div>

<script src="~/hubuser/js/HubUserManager.js" type="module"></script>